---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Who from '../components/Who.astro';
import Wines from '../components/Wines.astro';
import Vida from '../components/Vida.astro';
---

<Layout title="Tinta de Vid(a)">
	<main class="w-screen relative z-10">
		<Header />
		<Who />
		<Wines />
		<Vida />
	</main>
</Layout>