---
import Video from '../components/Video.astro';
---

<header class="flex flex-col  text-white h-screen">
	<Video />
	<div class="flex flex-col justify-center items-center h-full">
		<h1 class="
			text-4xl
			md:text-6xl
			text-center
			font-medium
			my-8
			bg-gradient-to-r
			from-[#7b4397]
			to-[#dc2430]
			inline-block
			text-transparent
			bg-clip-text
			drop-shadow-lg"
		>
			Baila la vid<span class="text-fuchsia-800">(a)</span> con<br><span class="italic font-bold">Tinta de Vid<span class="text-fuchsia-800">(a)</span></span>
		</h1>
		<nav class="flex flex-col md:flex-row text-center text-2xl md:text-4xl">
			<h2 class="drop-shadow-lg"><a href="#who">CONÓCEME</a></h2>
			<h2 class="my-4 mx-0 md:mx-16 md:my-0 drop-shadow-lg">VINOS</h2>
			<h2 class="drop-shadow-lg">VID(A)</h2>
		</nav>
	</div>
</header>